<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lesso.mapper.manager.ServerInfoMapper">

    <select id="get" resultType="com.lesso.pojo.ServerInfo">
        select * from QDServerInfo where id = #{id}
    </select>

    <select id="getRegisterServerInfo" resultType="com.lesso.pojo.ServerInfo">
     select * from QDServerInfo t where tenantMaxcount>tenantCurcount order by tenantCurcount
    </select>

    <select id="getUserDBInfo" resultType="com.lesso.pojo.TenantInfo">
        select id,tenantAccount as tenantAccount,tenantPassword,serverIp,servertPort as serverPort,dbName,dbAccount as dbAccount,dbPassword,companyName,phoneNo
        from QDTenantInfo t where phoneNo= #{phoneNo}
    </select>

    <select id="getUserInfo" resultType="com.lesso.pojo.TenantInfo">
        select id,tenantAccount as tenantAccount,tenantPassword,serverIp,servertPort as serverPort,dbName,dbAccount as dbAccount,dbPassword,companyName,phoneNo
        from QDTenantInfo t where tenantAccount= #{tenantAccount}  and tenantPassword = #{tenantPassword}
    </select>

    <select id="getAllUser" resultType="com.lesso.pojo.TenantInfo">
        select id,tenantAccount as tenantAccount,tenantPassword,serverIp,servertPort as serverPort,dbName,dbAccount as dbAccount,dbPassword,companyName,phoneNo
        from QDTenantInfo t
    </select>

    <insert id="insertTenantInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO QDTenantInfo (
        tenantAccount,
        tenantPassword,
        serverIp,
        serverPort,
        dbName,
        dbAccount,
        dbPassword,
        companyName,
        phoneNo,
        status,
        created,
        updated)
        VALUES   (
        #{tenantAccount},
        #{tenantPassword},
        #{serverIp},
        #{serverPort},
        #{dbName},
        #{dbAccount},
        #{dbPassword},
        #{companyName},
        #{phoneNo},
        #{status},
        #{created},
        #{updated}
        )
    </insert>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO User (
        username,
        password,
        phoneNo,
        userType,
        status,
        lastLoginTime,
        createTime,
        updateTime,
        delflag)
        VALUES   (
        #{username},
        #{password},
        #{phoneNo},
        #{userType},
        #{status},
        #{lastLoginTime},
        #{createTime},
        #{updateTime},
        #{delflag}
        )
    </insert>



    <update id="updateQDServerInfo">
        UPDATE QDServerInfo
        SET tenantCurcount= tenantCurcount+1
        WHERE serverIp = #{serverIp};
    </update>

    <update id="updateAdminUserStatus">
        UPDATE User
        SET status=  #{status}
        WHERE id = #{id} or username={username};
    </update>


    <update id="executeCreateQuery" parameterType="map">
        ${sql}
    </update>


</mapper>