<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lesso.mapper.manager.FinanceMapper">
    <update id="executeCreateQuery" parameterType="map">
        ${sql}
    </update>

    <insert id="insertFinanceByTableIndex" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO QDFinance_${tableIndex} (
        fromId,
        content,
        type,
        status,
        updated,
        created
        )
        VALUES (
        #{fromId},
        #{content},
        #{type},
        #{status},
        0,
        0
        )
    </insert>

    <select id="getFinanceByTableIndex" resultType="com.lesso.pojo.Finance">
        select * from QDFinance_${tableIndex} where content like #{searchText} and fromId = #{fromId}
    </select>


</mapper>